/*
 * animation for the spartan helmet image
 */
.animation-spartan {
    position: relative;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 4s;
}
@-webkit-keyframes example {

}

/* Standard syntax */
@keyframes example {
    0%   {margin:auto;display: block;}
    /*25%  {left:200px; top:0px;}*/
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100%  {left:0px; top:200px;}

}